        @charset "UTF-8";

        body {
            background-color: rgba(214, 221, 218, 0.904);
            font-family: Arial, Helvetica, sans-serif;
        }

        h1 {
            color: rgb(0, 0, 0);
            background-color: rgb(89, 180, 119);
        }

        h2 {
            color: rgb(18, 109, 0);
        }

        p {
            text-align: justify;
        }